# Ignore virtual environment directories
venv/
.venv/

# Ignore personal browsing history
data/

chroma_db/

# Environment Variables
.env
.env.*

# Local Testing
config_local.py

# Other
__pycache__/
*.pyc
*.py[cod]